body {
    background-color: #EBDE97;
    font-family: "Trebuchet MS", sans-serif;
    color: #2C1A0E;
}

.section {
    overflow: hidden;
    margin-bottom: 60px;
    margin-left: 80px;
}

.right-image {
    float: right;
    margin-left: 50px;
    margin-right: 250px;
    width: 300px;
}